*{
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.top{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100% ;
    justify-content:center;
    align-items:center;

}

button{
    width: 40%;
    padding: 20px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    font-size: 24px;
}

button:hover,
button .active{
    cursor: pointer;
background-color: brown;

}
.box{
    
    width:calc(80% - 40%) ;
    padding:0px 20px;
    max-height: 0px;

}